<div class="decorDiv"></div>




<div class="adminDiv">

  <div class="adminNav">
    <ul [class.active]="activePanel === 'orders'" (click)="switchPanel('orders')">Manage Orders</ul>
    <ul [class.active]="activePanel === 'users'" (click)="switchPanel('users')">Manage Users</ul>
    <ul [class.active]="activePanel === 'categories'" (click)="switchPanel('categories')">Manege Categories</ul>
    <ul [class.active]="activePanel === 'sales'" (click)="switchPanel('sales')">Manage Sales</ul>
  </div>

  
  <div class="ords" *ngIf="activePanel === 'orders'">
    <h1>Orders:</h1>
    <div class="ordss">
<div *ngFor="let order of allOrders">
  <div class="order">
<h5>order Id: {{order.id}}</h5>
<p>user Id: {{order.userId}}</p>
<p>created at: {{order.createdAt}}</p>
<li *ngFor="let item of order.orderItems">
  <ul>product id: {{item.productId}}</ul>
  <ul>quantity: {{item.quantity}}</ul>
  <ul>price: {{item.price}} $</ul>
  <ul>discounted price: {{item.discountedPrice}} $</ul>
</li>
<p>total amount: {{order.totalAmount}} $</p>
<p>payment info: {{order.paymentInfo}}</p>
<p>shipping address: {{order.shippingAddress}}</p>
<p>order status: {{ order.status === 1 ? 'paid' : order.status === 0 ? 'pending' : order.status === 2 ? 'shipped' : order.status === 3 ? 'delivered' : ''}}</p>
<div class="changeOrderStatus">
  <div class="comments">
  <p>0--pending</p>
  <p>1--paid</p>
  <p>2--shipped</p>
  <p>3--delivered</p>
  </div>
  <div class="submitStatus">
<input  #statusInput type="number" min="0" max="3">
<button (click)="changeOrderStatus(order.id, +statusInput.value)">change</button>
</div>
</div>
  </div>
</div>
</div>
</div>


<div class="Users" *ngIf="activePanel === 'users'">
<h1>Users: </h1>
<div class="userssDiv">
<div class="userDiv" *ngFor="let user of allUsers">
  <h4>user Id: {{user.id}}</h4>
  <h5>first name: {{user.firstName}}</h5>
  <h5>last name: {{user.lastName}}</h5>
  <h5>email: {{user.email}}</h5>
<div class="userFavProdIdsDiv">
  <h5>user favorite product Ids: <p *ngFor="let id of user.favoriteProductIds">{{id}}</p></h5>
</div>
<p>password-hash: {{user.passwordHash}}</p>
<p>user creation date: {{user.createdAt}}</p>
</div>
</div>
</div>

<div class="categories" *ngIf="activePanel === 'categories'">
   <button class="addCategButton" *ngIf="!showAddCategory" (click)="showAddCategory = !showAddCategory">add category</button>
   <div class="addCategoryDiv" *ngIf="showAddCategory">
     <input #categoryNameInput placeholder="category name" type="text">
    <input #parentIdInput placeholder="parent id (optional)" type="number">
    <input #descriptionInput placeholder="description" type="text">
    <input #imageUrlInput placeholder="image url" type="text">
    <input  #subCategoryIdsInput placeholder="sub category ids (optional)" type="text">
    <button (click)="addCategory(categoryNameInput.value, parentIdInput.value, descriptionInput.value, imageUrlInput.value, subCategoryIdsInput.value); 
                     categoryNameInput.value=''; parentIdInput.value=''; descriptionInput.value=''; imageUrlInput.value=''; subCategoryIdsInput.value=''; 
                     showAddCategory = false">add</button>
   </div>
  <h1>Categories:</h1>
  <div class="categoriesDiv">
    <div class="categ" *ngFor="let category of mainCategories">
      <div class="mainCateg">
    <h3>{{category.name}}</h3>
    <h5>category id: {{category.id}}</h5>
    </div>
    <div *ngFor="let subCategory of getSubcategoriesForParent(category.id)">
      <div class="subCateg">
      <p>subcategory name: {{subCategory.name}}</p>
      <p>subcategory id: {{subCategory.id}}</p>
      <p class="subDescription">description: {{subCategory.description}}</p>
    </div>
  </div>
   <button class="deleteCategButton" (click)="removeCategory(category.id)">remove</button>
    </div>
    
  </div>
</div>


<div class="sales" *ngIf="activePanel === 'sales'">

  <button class="addSaleButton"  (click)="showAddSale = !showAddSale" *ngIf="!showAddSale">add sale</button>

  <div class="addSaleDiv" *ngIf="showAddSale">
    <div class="saleInputs">
      <input placeholder="sale name" type="text">
      <input placeholder="discount value %" type="text">
      <input placeholder="description" type="text">
      <input placeholder="product IDs ex: ('6,7')" type="text">
    </div>
    <button class="addSaleFinalButton">Add</button>
  </div>

      <div class="saleProdsDiv" *ngFor="let sale of allSales">
        <div class="saleNameEdit saleEdit">
        <h4 class="saleTitle">name: {{sale.name}}</h4>
        <button>edit</button>
        </div>
        <div class="saleDescriptionEdit saleEdit">
        <h5 class="saleDescription">description: {{sale.description}}</h5>
        <button>edit</button>
        </div>
        <div class="saleDiscountEdit saleEdit">
        <h5 class="saleDiscountValue">discount value: {{sale.discountValue}}%</h5>
        <button>edit</button>
        </div>
          <div class="saleActivity">
        <h5 class="saleIsActive" *ngIf="sale.isActive">Active</h5>
        <button class="saleActivateButton" *ngIf="!sale.isActive">Activate Sale</button>
       </div>
        <div class="saleDecorDiv">
        <div class="saleProdDiv" *ngFor="let product of sale.productsOnThisSale">
          <div class="productOnSale">
            <button class="removeProdFromSaleButton">X</button>
            <img class="saleProdImage" [src]="product.images[0].url" alt="{{ product.name }}" />
            <div class="saleProdEnd">
              <h5 class="saleProdName">{{product.name}}</h5>
              <p class="saleProdRating">  av.rating: {{ product.averageRating > 0 ? (product.averageRating | number:'1.1-1') : 'not rated' }}</p>
              <p class="saleProdOriginalPrice">original price: {{product.originalPrice}} $</p>
              <p class="saleProdDiscounted">discounted price: {{product.discountedPrice}} $</p>
            </div>
          </div>
          </div>
        </div>

      </div>


</div>


</div>



