
.decorDiv {
    width: 100%;
    height: 8.51rem;
}

h1 {
 margin-left: 0rem;
}

.ordss {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(43, 103, 131, 0.068);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
}


.order {
        background-color: rgba(0, 78, 119, 0.162);
    padding: 0.5rem;
    border-radius: 0.35rem;
}
.adminNav {
display: flex;
gap: 1rem;
}
.adminNav ul {
    border: 0.5px solid rgb(0, 71, 80);
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.adminNav ul:hover {
    scale: 1.1;
    background-color: rgb(0, 217, 255);
    
}
.submitStatus input {
    background-color: rgba(0, 255, 217, 0.343);
    border-radius: 0.3rem;
    border: 0.1px solid rgb(0, 84, 103);
}

.submitStatus button {
        border-radius: 0.3rem;
    border: 0.1px solid rgb(0, 84, 103);
    background-color: rgb(0, 103, 162);
}

.submitStatus button:hover {
        scale: 1.1;
    background-color: rgb(0, 217, 255);
}

.submitStatus button:active {
    scale: 1;
}

.adminNav ul:active {
    scale: 1;
}
.adminNav ul.active {
    background-color: rgb(0, 102, 174);
}
.adminDiv {
        margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(43, 103, 131, 0.068);
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
}

.ords {
      margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(43, 103, 131, 0.068);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
}

.comments {
    display: flex;
    gap: 1rem;
}
.submitStatus {
    display: flex;
    gap: 1rem;
}
.submitStatus input {
    width: 5rem;
    height: 1.9rem;
}

.userssDiv {
display: flex;
flex-wrap: wrap;
gap: 2rem;
}
.userDiv {
    background-color: rgba(2, 105, 173, 0.266);
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.userFavProdIdsDiv h5 {
    display: flex;
    gap: 2rem;

}

.subCateg {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 72, 106, 0.234);
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
}
.categoriesDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.addCategButton {
    border-radius: 0.7rem;
    background-color: rgba(1, 96, 173, 0.383);
    margin-bottom: 0.4rem;
}
.addCategButton:hover {
    scale: 1.1;
    background-color: rgba(1, 173, 133, 0.383);
}

.addCategButton:active {
    scale: 1;
}

.categ {
    background-color: rgba(0, 116, 183, 0.18);
    padding: 0.5rem;
    border-radius: 0.7rem;
    max-width: 17rem;
}

.addCategoryDiv {
    display: flex;
    gap: 0.3rem;
}
.addCategoryDiv input {
    border-radius: 0.3rem;
    background-color: rgba(0, 85, 154, 0.229);
}

.addCategoryDiv button {
    border-radius: 0.3rem;  
    background-color: rgba(0, 39, 71, 0.294);
}

.addCategoryDiv button:hover {
    scale: 1.1;
}

.addCategoryDiv button:active {
scale: 1;
}

.deleteCategButton {
    border-radius: 0.5rem;
    background-color: rgba(126, 0, 0, 0.486);
}

.deleteCategButton:hover {
    background-color: rgba(255, 47, 0, 0.767);
    scale: 1.1;
}
.deleteCategButton:active {
    scale: 1;
}

.subDescription {
  white-space: normal !important;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%; /* ensures it doesn't overflow */
  display: block;
}

.saleProdsDiv {
    background-color: rgba(0, 113, 128, 0.069);
    padding: 2rem;
    border-radius: 0.7rem;
    display: flex;
    flex-wrap: wrap;
}

.productOnSale {
        height: 25rem;
    width: 16.7rem;
}

.saleProdImage {
       width: 100%;
  max-height: 100%;
  object-fit: cover;
border-radius: 0.5rem;
transition: 0.3s;
  object-fit: cover;
}