<div class="decorDiv"></div>
<div class="main">
 <img class="mainImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8vFIFCUILbh_gnyKZewoAzzPMo_4_wNrXKQ&s" alt="">
<div>
<h1>this is Anzor Katsiashvili's Diploma Project</h1>
<h3>university: IT Step Academy</h3>
</div>
</div>

<div class="visitDiv">
<a href="https://ge.itstep.org/" target="_blank"><h1 class="visit">Visit It Step</h1></a>
<h5>საუკეთესო კურსები საქართველოში</h5>
</div>

<div class="slider-container">
  <div class="slider-image-wrapper">
    <img
      *ngFor="let img of images; let i = index"
      [src]="img"
      [class.active]="i === currentIndex"
      alt="slider image"
    />
  </div>
</div>