<div class="decorDiv"></div>

<div class="userCategNav">
      <div class="mainCategDiv">
    <ul [class.active]="activePanel === 'userInfo'" (click)="switchPanel('userInfo')">Profile Info</ul>
    <ul [class.active]="activePanel === 'orders'" (click)="switchPanel('orders')">My Orders</ul>
  </div>
</div>

<div class="mainDiv">


    <div class="userInfoDiv">
          
        <div class="userDiv" *ngIf="!userEditing">
            <i class="profilePic fa-solid fa-user-tie"></i>
            <h3>e-mail: {{user?.email}}</h3>
            <h5>firstname: {{user?.firstName}}</h5>
            <h5>lastname: {{user?.lastName}}</h5>
            <h6 class="userRole">user role: {{user?.role == 0 ? 'user' : user?.role == 1 ? 'manager' : user?.role == 2 ? 'Admin' : 'role not assigned'}}</h6>
            <h6>profile created: {{user?.createdAt}}</h6>
            <i (click)="userEditing = true"  *ngIf="activePanel === 'userInfo' && !userEditing" class="editLogo fa-solid fa-user-pen"></i>
        </div>

                <div class="userDiv" *ngIf="userEditing">
           <i class="profilePic fa-solid fa-user-tie"></i>
            <h3>e-mail: {{user?.email}}</h3>
            <div class="userEditDiv">
                <div class="inps">
            <input placeholder="{{user?.firstName}}" #firstnameInp class="firstnameInp" type="text">
            <input placeholder="{{user?.lastName}}" #lastnameInp class="lastnameInp" type="text">
            </div>
            <button (click)="updateUser(firstnameInp.value, lastnameInp.value)">apply changes</button>
            </div>
            <h6 class="userRole">user role: {{user?.role == 0 ? 'user' : user?.role == 1 ? 'manager' : user?.role == 2 ? 'Admin' : 'role not assigned'}}</h6>
            <h6>profile created: {{user?.createdAt}}</h6>
             <i *ngIf="userEditing" (click)="userEditing = false" class="hideEditLogo fa-solid fa-eye-slash"></i>
            <i *ngIf="activePanel === 'userInfo' && !userEditing" class="editLogo fa-solid fa-user-pen"></i>
        </div>

        <div class="addAddressMainDiv" *ngIf="activePanel === 'userInfo'">
            <h4>Add a delivery address</h4>
            <div class="addingAddressSecondDiv">
            <textarea [(ngModel)]="deliveryAddress" class="addressInput" type="text"></textarea>
            <button class="addAddressButton" (click)="postAddressByUserId()">add</button>
            </div>
        </div>
          <div class="buyPromoCodeDiv">
            <div class="promoDiv">
        <h3>buy promo voucher</h3>
        <h4>and get 1 week benefits</h4>
        <p>(demo) test promo code: 'Lambda' with 20% discount</p>
        <button (click)="buyingPromo = true" *ngIf="!buyingPromo" class="buyPromoButton">buy now</button>
        <div class="cardDivForPromo" *ngIf="buyingPromo">
       
            <input placeholder="payment method" class="lastPromoInp" [(ngModel)]="voucherPaymentMethod" type="text">   
        <input placeholder="card number (16 digits)" class="lastPromoInp" [(ngModel)]="voucherCardNumber" type="text">
        <input placeholder="cvv" class="lastPromoInp" [(ngModel)]="voucherCvv" type="text">
        <input placeholder="expiration date ( / )" class="lastPromoInp" [(ngModel)]="voucherExpiration" type="text">
        <button class="buyLastPromoButton" >buy</button>
    <button *ngIf="buyingPromo" (click)="buyingPromo = false" class="buyLastPromoButton hideButton">hide</button>   
    </div>
        </div>
    </div>

        <div class="deliveryAddressMainDiv" *ngIf="activePanel === 'userInfo'">
            <h5>your delivery addresses</h5>
            <div class="deliveryDiv">
            <div class="singleDeliveryAddress" *ngFor="let address of deliveryAddresses">
                <button (click)="deleteAddressByUserId(address.id)" class="deleteAddressButton">X</button>
                <p>{{address.isDefault ? 'default address' : 'non default'}}</p>
                <h6>address: {{address.address}}</h6>
                <button (click)="this.setDefaultAddress(address.id);" class="makeDefaultButton">make default</button>
                
            </div>
            </div>
        </div>
    </div>

  

    <div class="ordersDiv" *ngIf="activePanel === 'orders'">
       
        <h4 class="myOrdersh4">my orders:</h4>
      
        <div class="divDec">
        
            <p *ngIf="fullOrders.length === 0">you dont have any orders</p>
      
            <div class="decorOrdersDiv">
        
                <div class="ordersContainer" *ngFor="let order of fullOrders">
            <div class="orderCard">
                <p class="orderId">order id: #{{order.id}}</p>
                <h6 class="totalAmount">total: {{order.totalAmount}} $</h6>
                <h6 *ngIf="order.promoCode" class="ifLambda">with promocode:{{order.promoCode}}</h6> 
       <div class="delivery-tracker">
  <div class="fill-bar" [style.width.%]="getFillWidthPercent(order.status)"></div>

  <div class="status-steps">
    <div class="status-step" *ngFor="let s of statusSteps">
      {{ s }}
    </div>
  </div>

  <i class="fas fa-motorcycle deliveryman" [style.left.%]="getFillWidthPercent(order.status)"></i>
</div>

<div class="scrollerOrd">
    
                <div class="orderItems" *ngFor="let item of order.orderItems">
                    <p>product name: {{item.productName}}</p>
                    <p>quantity: {{item.quantity}}</p>
                    <p>price: {{item.price}} $</p>
                    <p>promo code: {{order.promoCode == null ? 'promo code not available' : order.promoCode }}</p>
                    <p *ngIf="item.discountedPrice > 0">discounted price: {{item.discountedPrice}} $</p>
                </div>
               
                </div>
            </div>
            
            </div>
            </div>
        </div>

    </div>


</div>
