<div class="decorDiv"></div>

<div class="userCategNav">
      <div class="mainCategDiv">
    <ul [class.active]="activePanel === 'userInfo'" (click)="switchPanel('userInfo')">Profile Info</ul>
    <ul [class.active]="activePanel === 'orders'" (click)="switchPanel('orders')">My Orders</ul>
  </div>
</div>

<div class="mainDiv">


    <div class="userInfoDiv">
          
        <div class="userDiv">
            <i class="fa-solid fa-user-tie"></i>
            <h3>e-mail: {{user?.email}}</h3>
            <h5>firstname: {{user?.firstName}}</h5>
            <h5>lastname: {{user?.lastName}}</h5>
            <h6 class="userRole">user role: {{user?.role == 0 ? 'user' : user?.role == 1 ? 'manager' : user?.role == 2 ? 'Admin' : 'role not assigned'}}</h6>
            <h6>profile created: {{user?.createdAt}}</h6>
        </div>

    </div>


    <div class="ordersDiv" *ngIf="activePanel === 'orders'">
        <h4>my orders:</h4>
        <div class="divDec">
        <p *ngIf="fullOrders.length === 0">you dont have any orders</p>
        <div class="ordersContainer" *ngFor="let order of fullOrders">
            <div class="orderCard">
                <p>order id: #{{order.id}}</p>
                <p class="status">order status: {{ order.status === 1 ? 'paid' : order.status === 0 ? 'pending' : order.status === 2 ? 'shipped' : order.status === 3 ? 'delivered' : ''}}</p>
                <div class="orderItems" *ngFor="let item of order.orderItems">
                    <p>product name: {{item.productName}}</p>
                    <p>quantity: {{item.quantity}}</p>
                    <p>price: {{item.price}} $</p>
                    <p *ngIf="item.discountedPrice > 0">discounted price: {{item.discountedPrice}} $</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
