.decorDiv {
    width: 100%;
    height: 8.51rem;
}
.mainDiv {
    margin-top: 3rem;
    margin-left: 5rem;
 gap: 2rem;
display: flex;
border-radius: 0.5rem;
    background-color: rgba(0, 255, 255, 0.049);
    position: relative;
    width: 90%;
}


.mainCategDiv {
display: flex;
gap: 1rem;
width: 20rem;
margin-left: 5.1rem;
position: relative;
top: 2rem;
}



.userRole {
    color: rgb(127, 0, 0);
}

.profilePic {
    font-size: 4.7rem;
    color: rgba(0, 73, 62, 0.848);
}
.editLogo {
    position: absolute;
    top: 1.1rem;
    left: 27.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #002ba1a3;
}

.editLogo:hover {
   scale: 1.1;
   color: #9ab806;
}

.editLogo::after {
 content: "edit profile";
  position: absolute;
    bottom: 125%;
    font-size: 0.7rem;
    margin-left: -2rem; 
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    transform: translateX(-50%);
    border-radius: 0.3rem;
    background-color: #0000009f;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 999999999;
}

.editLogo:hover::after {
opacity: 1;
z-index: 9999999;
}

.hideEditLogo {
    position: absolute;
    top: 1.35rem;
    margin-left: 26.15rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: #002ba1a3;
}

.hideEditLogo:hover {
scale: 1.1;
color: #9ab806;
}

.hideEditLogo::after {
 content: "h i d e";
  position: absolute;
    bottom: 125%;
    font-size: 0.7rem;
    margin-left: -1rem; 
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    transform: translateX(-50%);
    border-radius: 0.3rem;
    background-color: #0000009f;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 999999999;
}

.hideEditLogo:hover::after {
opacity: 1;
z-index: 9999999;
}

.editLogo:active {
    scale: 1;
    color: #002ba1a3;
}


.userEditDiv {
    display: flex;
    gap: 0.35rem;
}
.userEditDiv button {
    border-radius: 0.5rem;
    width: 4.1rem;
    padding-left: 0.1rem;
    border: 1px solid rgb(0, 135, 67);
    background-color: #0049616f;
    font-family: cursive;
}

.userEditDiv button:hover {
    background-color: #22a6e3d5;
    scale: 1.1;
}
.userEditDiv button:active {
    background-color: #0049616f;
    scale: 1;
}



.inps {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.inps input {
    background-color: #00517313;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 67, 95, 0.557);
}


.userDiv {
    padding: 1rem;
    background-color: rgba(0, 174, 255, 0.161);
    border-radius: 0.5rem;
}
.userInfoDiv {
    border-radius: 0.5rem;
    width: 30rem;
}

.mainCategDiv ul {
    border: 0.5px solid rgb(0, 71, 80);
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: rgba(0, 78, 117, 0.181);
}
.mainCategDiv ul.active {
    background-color: rgba(199, 3, 3, 0.601);
}


.myOrdersh4 {
    margin-left: 0.7rem;
    margin-bottom: 0.9rem;
    font-family: cursive;
    font-weight: 700;
    color: rgb(63, 0, 122);
}

.ordersDiv {
    padding: 1rem;
    flex-direction: column;
}

.divDec {
    margin: 0.4rem;
}
.ordersContainer {
    display: flex;
   width: 30rem;
}
.decorOrdersDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    padding-bottom: 5rem;
}

.orderCard p {
    width: 7.5rem;
    word-wrap: break-word;
}

.scrollerOrd {
    display: flex;
    flex-direction: column;
    width: 10rem;
    overflow: hidden;
    overflow-y: auto;
}

.totalAmount {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 6rem;
    color: green;
}
.ifLambda {
        position: absolute;
    margin-top: 2.3rem;
    margin-left: 6rem;
    color: rgb(208, 223, 0);
}
.orderItems {
    width: 10rem;
    
}
.orderItems p {
width: 9rem;
margin-bottom: 0.4rem;
}

.orderCard {
    display: flex;
    background-color: rgba(0, 100, 104, 0.436);
    padding: 2.5rem;
    border-radius: 0.5rem;
    width: 44rem;
    margin-bottom: -4rem;
    height: 16rem;
    font-family: cursive;
}
.delivery-tracker {
  position: relative;
  height: 1.1rem;
  background-color: #ddd;
  border-radius: 8px;
  margin-right: 3rem;
  top: 7rem;
  margin-left: -7rem;
  user-select: none;
  width: 15.8rem;
}

.orderId {
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: 600;
}

.fill-bar {
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  background-color: #4caf50;
  border-radius: 8px 0 0 8px;
  transition: width 0.4s ease;
  z-index: 0;
}

.status-steps {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: 1.5rem;
  margin-left: -1rem;
  padding: 0 10px;
  font-weight: 600;
  color: #333;
}

.status-step {
  flex: 1;
  text-align: center;
}

.deliveryman {
  position: absolute;
  top: -1.7rem;
  font-size: 23px;
  color: #868600;
  transition: left 0.4s ease;
  z-index: 3;
  transform: translateX(-50%);
  pointer-events: none;
}