.decorDiv {
    width: 100%;
    height: 8.51rem;
}

.mainDiv {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;

    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
}

.product img {
   width: 100%;
  height: 200px;
  object-fit: cover;
border-radius: 0.5rem;
transition: 0.3s;
}
.endsIn {
    color: rgb(0, 96, 105);
}
.saleEndsDiv {
    position: absolute;
    margin-left: 90rem;
    width: 20rem;
    display: flex;
    gap: 0.5rem;
    font-family: cursive;
}

.daysEnd20 {
color: rgb(27, 231, 0);
font-weight: 700;
}
.daysEnd10 {
color: rgb(224, 213, 1);
font-weight: 700;
}
.daysEnd5 {
color: rgb(255, 153, 0);
font-weight: 700;
}
.daysEnd0 {
    color: rgb(229, 0, 0);
    font-weight: 700;
}
.product img:hover {
    scale: 1.1;
}

.discount {
    position: absolute;
    left: -49.8rem;
    top: 2.5rem;
}



.product {
    background-color: rgba(0, 77, 119, 0.087);
    padding: 0.7rem;
    border-radius: 0.35rem;
    cursor: pointer;
    transition: 0.3s;
    height: 26.5rem;
    width: 16.7rem;
    border: 7px solid rgba(0, 84, 101, 0.032);
}


.product:hover {
    scale: 1.1;
    background-color: rgba(0, 97, 149, 0.175);
}

p {
    margin: 0.1rem;
}

.cardEnd {
    position: relative;
    top: 4.5rem;
    align-self: flex-end;
}
.discounted-price {
    color: rgb(0, 220, 0);
}

.divAboveMainDiv {
    padding-top: 1rem;
background-color: rgba(43, 103, 131, 0.068);
    border-radius: 0.5rem;
}

.saleTitle {
    position: relative;
    margin-left: 45.9%;
    font-family: cursive;
    font-family: cursive;
    color: rgb(0, 163, 155);
}


.saleDescription {
    position: absolute;
    left: 4%;
    color: rgba(0, 198, 0, 0.501);
}

