<div class="decorDiv"></div>

<p *ngIf="allSales.length === 0">
    no products on sale for now...
</p>

<div class="allSalesDiv" *ngFor="let sale of allSales">


  
<div class="divAboveMainDiv">
  <h5 class="demo">demo: promocode "Lambda"</h5>
  <h3 class="saleTitle">{{sale.name}}</h3>
  <div class="saleEndsDiv">
  <h4 class="endsIn" *ngIf="getDaysLeft(sale) > 0">Sale ends in:</h4>
   <h4 [ngClass]="getSaleClass(sale)" *ngIf="getDaysLeft(sale) > 0"> {{getDaysLeft(sale)}}</h4>
   <h4 class="daysEnd" *ngIf="getDaysLeft(sale) > 0">days</h4>
   <h4 *ngIf="getDaysLeft(sale) === 0">sale ended</h4>
</div>
  <h4 class="saleDescription">{{sale.description}}</h4>
  <h5 class="saleTitle discount">{{sale.discountValue}}% discount</h5>
<div class="mainDiv">
<div *ngFor="let product of sale.productsOnThisSale" (click)="openProductView(product.id)">
  <div class="product">
    <img [src]="product.images[0].url" alt="{{ product.name }}" />
    <div class="cardEnd">
    <h5>{{ product.name }}</h5>
    <p>av.rating: {{product.averageRating > 0 ? (product.averageRating | number: '1.1-1') : 'not rated'}}</p>
    <p>Original Price: <span class="original-price">{{ product.originalPrice | currency }}</span></p>
    <p *ngIf="product.discountedPrice > 0">
      Discounted Price: <span class="discounted-price">{{ product.discountedPrice | currency }}</span>
    </p>
    </div>
  </div>
</div>
</div>
</div>

</div>

<div class="advertisementsDiv">
   <h4>Ads goes here O,,O</h4>
</div>