<div class="decorDiv"></div>
<h3 class="emptyCart" *ngIf="cartItemsDetailed.length < 1">cart is empty...</h3>
<p class ="seeOrders" [routerLink]="['/User']" *ngIf="cart?.cartItems?.length === 0">See my orders</p>
<div class="cartMainDiv" *ngIf="cart">
    <div class="cartItemDiv" *ngFor="let item of cartItemsDetailed">
        <img [src]="item.images[0].url" alt="img">
<h5>{{item.name}}</h5>
<div class="stars">
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      <i 
        class="fa"
        [ngClass]="{
          'fa-star full-star': item.averageRating >= star,  
          'fa-star-half-o half-star': item.averageRating >= star - 0.5 && item.averageRating < star,
          'fa-star-o empty-star': item.averageRating < star - 0.5  
        }"
        aria-hidden="true">
      </i>
    </ng-container>
  </div>
  
<p class="description-text">description: {{item.description}}</p>
<div class="rightProd">
<div class="quantityDiv">
    <button (click)="removeQuantityFromProduct(item.id)">-</button>
    <p class="quantity">{{item.quantity}}</p>
    <button (click)="addQuantityToProduct(item.id)">+</button>
    </div>  
    
<div class="ILovePriceField">
<p class="price">price: {{item.originalPrice}} $</p>
<p *ngIf="item.discountedPrice > 0" class="discountedPrice">discounted price: {{item.discountedPrice}} $</p>
<p *ngIf="!item.discountedPrice" class="fullPrice">total: {{(item.originalPrice * item.quantity)}} $</p>
<p *ngIf="item.discountedPrice > 0" class="fullDiscounted">discaunted total: {{(item.discountedPrice * item.quantity)}}</p>

</div>

</div>
<span class="removeProduct" (click)="removeProductFromCart(item.id)">X</span>

</div>
<div class="lastCasa" *ngIf="cartItemsDetailed.length > 0">
<div class="finalCart">
    <h3>total price: {{total}}</h3>
    <button (click)="goToCheckOut()">Go checkout</button>
    </div>
</div>


</div>

<div class="checkOutDiv" *ngIf="checkOutPage" (click)="checkOutPage = false">

    <div class="paymentDiv" (click)="$event.stopPropagation()">
        <div class="shippingAddress">
            <label for="shippingAddress">enter shipping address</label>
            <input type="text" name="shippingAddress"  [(ngModel)]="shippingAddress">
        </div>
        <div class="paymentMethodAndCardNumber">
            <label for="paymentMethod">enter payment method</label>
            <input type="text" name="paymentMethod"  [(ngModel)]="paymentMethod">
            <label for="cardNumber">enter card number (16 digits)</label>
            <input type="text" name="cardNumber"  [(ngModel)]="cardNumber">
            <label for="cvv">enter CVV</label>
            <input type="text" name="cvv"  [(ngModel)]="cvv">
            <label for="promoCode">enter promo code</label>
            <input type="text" name="promoCode"  [(ngModel)]="promoCode">
            <label for="expirationDate">enter expiration date</label>
            <input type="text" name="expirationDate"  [(ngModel)]="expirationDate">
        </div>
        <button (click)="checkOut()">pay</button>
    </div>

</div>