.decorDiv {
    width: 100%;
    height: 8.51rem;
}

.cartMainDiv {
 position: relative;
 margin-left: 5rem;
 right: 3rem;
 gap: 2rem;

display: flex;
flex-direction: column;
    height: auto;
}

.cartItemDiv {
position: relative;
    border-radius: 0.9rem;
    background-color: rgba(0, 92, 121, 0.293);
    display: flex;
font-family: cursive;
gap: 3rem;

}

.nameStars{
  max-width: 260px;
  margin-right: -2rem;
}



.cartMainDiv img{
    overflow: hidden;
    height: 170px;
}
.cartItemDiv h5 {
    font-size: 1.5rem;
position: relative;
top: 0.9rem;
}

.quantityDiv{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
   
}
.ILovePriceField {
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.rightProd {
    display: flex;
    position: absolute;
    right: 6rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 2rem;
    top: 2.5rem;
}
.discountedPrice {
    color: rgb(0, 184, 0);
}
.fullDiscounted {
    color: rgb(210, 218, 0);
}
.removeProduct{
    position: absolute;
    right: 2rem;
    top: 1.55rem;
    font-size: 1.5rem;
    color: rgb(0, 64, 110);
    cursor: pointer;
}
.removeProduct:hover {
    color: rgb(0, 145, 255);
}
.quantity {
    margin-top: 1rem;

}
.quantityDiv button {
    width: 2.3rem;
    height: 2.3rem;
    color:rgb(0, 58, 159);
    border: none;
    border-radius: 0.3rem;
    box-shadow: 4px 4px 4px rgba(0, 54, 98, 0.657);
}
.quantityDiv button:hover {
    transform: scale(1.1);
} 
.quantityDiv button:active {
    transform: scale(1);
}

.description-text {
    max-width: 500px; 
    position: relative;
    top: 4.3rem;
    margin-left: -19rem;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: horizontal;
    color: #00356b5f;
}

.seeOrders {
  position: relative;
  left: 44.5%;
  top: 5rem;
  color: red;
  font-family: cursive;
  font-size: larger;
  cursor: pointer;
  
}

.seeOrders:hover {
  font-size: 1.29rem;
}
.cartProdName {
  position: relative;
  left: 0;
  max-width: 250px;
}

.emptyCart {
    position: relative;
    left: 43.5%;
    top: 3rem;
    color: rgb(0, 114, 155);
}

.promoDiv {
    position: relative;
    top: 1.1rem;
    font-family: cursive;
}
.finalCart button {
border-radius: 0.3rem;
background-color: rgb(193, 231, 238);
height: 3.5rem;
}
.finalCart button:hover {
    transform: scale(1.1);
    color: rgb(0, 67, 114);
    font-weight: bold;
}
.finalCart button:active {
    transform: scale(1);
}

.promoDiv input {
    background-color: rgba(0, 84, 153, 0.503);
    border-radius: 0.3rem;

}

.stars {
    position: relative;
    font-size: 1.21rem;
    top: 0.5rem;
    
  }

.stars i {
  font-size: 1.4rem;
  margin-right: 2px;
}

.full-star {
  color: goldenrod;
}

.half-star {
  color: goldenrod;
}

.empty-star {
  color: lightgray;
}

  .description-text {
    max-height: 60px; /* limit height */
    overflow: hidden;
    overflow-y: auto;
    max-width: 200px;
    left: 19rem;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines you want */
    -webkit-box-orient: vertical;
    color: #00356b5f;
  }

  .finalCart {
    width: fit-content;
    position: relative;
    color: rgb(0, 145, 114);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .lastCasa {
    display: flex;
    gap: 3rem;
    position: relative;
    top: 2rem;
    margin-bottom: 2rem;
    
    z-index: 444;
  }


  .checkOutDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background-color: rgba(112, 189, 194, 0.903);
  }


  .paymentDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 47rem;
    margin-top: 11rem;
    width: 27.5rem;
    font-size: larger;
    font-family: cursive;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0, 83, 100, 0.557);
  }
  .paymentDiv button {
    width: 15rem;
    height: 4rem;
    margin: 1.7rem;
    border-radius: 0.3rem;
    background-color: rgba(0, 170, 255, 0.427);
  }

  .paymentDiv button:hover {
    transform: scale(1.1);
    color: rgb(0, 255, 162);
  }

  .paymentDiv button:active {
    transform: scale(1);
  }

  .paymentMethodAndCardNumber {
    display: flex;
    flex-direction: column;
    width: 17rem;
    margin: 1rem;
  }

  .shippingAddress {
    display: flex;
    flex-direction: column;
    width: 17rem;
    margin: 1rem;
  }