body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20231221/pngtree-summer-ice-cream-color-simple-and-cool-image_15550164.png');
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;

  }